In [1]:
import os
import pandas as pd

df = pd.read_csv(
    "https://data.heatonresearch.com/data/t81-558/auto-mpg.csv", 
    na_values=['NA', '?'])

df.insert(1, 'weight_kg', (df['weight'] * 0.45359237).astype(int))
pd.set_option('display.max_columns', 6)
pd.set_option('display.max_rows', 5)
df

      mpg  weight_kg  cylinders  ...  year  origin                       name
0    18.0       1589          8  ...    70       1  chevrolet chevelle malibu
1    15.0       1675          8  ...    70       1          buick skylark 320
..    ...        ...        ...  ...   ...     ...                        ...
396  28.0       1190          4  ...    82       1                ford ranger
397  31.0       1233          4  ...    82       1                 chevy s-10

[398 rows x 10 columns]

In [2]:
print("Google API key required for below code which i dont have");

Google API key required for below code which i dont have